@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSx
@using System.Text.Json

<PageTitle>Estadisticas</PageTitle>

<h1>Estadisticas</h1>

<p>Estadísticas de los accidentes de tránsito</p>

<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <div class="row g-4 mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card text-white bg-primary">
                    <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="fs-4 fw-semibold"> @registros.Count</div>
                            <div>Total de accidentes</div>
                        </div>
                    </div>
                    <div class="c-chart-wrapper mt-3 mx-3">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card text-white bg-info">
                    <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="fs-4 fw-semibold">@registros.Sum(r => r.VehiculosInvolucrados)</div>
                            <div>Total de vehiculos</div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-transparent text-white p-0" type="button"
                                data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a
                                    class="dropdown-item" href="#">Another action</a><a class="dropdown-item"
                                    href="#">Something else here</a></div>
                        </div>
                    </div>
                    <div class="c-chart-wrapper mt-3 mx-3" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card text-white bg-warning">
                    <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="fs-4 fw-semibold">@registros.Sum(r => r.Muertos)</div>
                            <div>Total de Muertos </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-transparent text-white p-0" type="button"
                                data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a
                                    class="dropdown-item" href="#">Another action</a><a class="dropdown-item"
                                    href="#">Something else here</a></div>
                        </div>
                    </div>
                    <div class="c-chart-wrapper mt-3" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card text-white bg-danger">
                    <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="fs-4 fw-semibold">@registros.Sum(r => r.Heridos)</div>
                            <div>Total de Heridos </div>
                        </div>
                    </div>
                    <div class="c-chart-wrapper mt-3 mx-3">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card text-white bg-success">
                    <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="fs-4 fw-semibold"><LabelDinero Valor ="@registros.Sum(r => r.CostoEstimado)" /></div>
                            <div>Total de Costos Estimados</div>
                        </div>
                    </div>
                    <div class="c-chart-wrapper mt-3 mx-3">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@code{
    List<Reporte> registros = new List<Reporte>();

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if(firstRender){

            var registrosJson = await JSx.InvokeAsync<string>("localStorage.getItem", "registros");

            if(registrosJson != null){

                registros = JsonSerializer.Deserialize<List<Reporte>>(registrosJson);

                StateHasChanged();

            }
        }

    }
}
